# Blockchain
BASE_SEPOLIA_RPC_URL=
PRIVATE_KEY=
BASESCAN_API_KEY=

# Token
SYNORA_TOKEN_NAME=SYNORA
SYNORA_TOKEN_SYMBOL=SYN

# API
API_PORT=4000
DATABASE_URL=
JWT_SECRET=
WEB_ORIGIN=http://localhost:3000
WEB_ORIGINS=
OPENAI_API_KEY=
OPENAI_MODEL=
SYN_STAKING_ADDRESS=
REWARDS_SIGNER_PRIVATE_KEY=
REWARDS_DISTRIBUTOR_ADDRESS=0xADbAA2ABF6b40a3705FAA54A41bF3010768A8443
REWARDS_CHAIN_ID=84532
BETA_MAX_TESTERS=100

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:4000
NEXT_PUBLIC_CHAIN_ID=84532
NEXT_PUBLIC_BASE_SEPOLIA_RPC_URL=
NEXT_PUBLIC_SYN_TOKEN_ADDRESS=
NEXT_PUBLIC_SYN_STAKING_ADDRESS=
NEXT_PUBLIC_REWARDS_DISTRIBUTOR_ADDRESS=0xADbAA2ABF6b40a3705FAA54A41bF3010768A8443
