node_modules
.env
.env.local
.env.production
.env.development

.next
dist
build
coverage
cache
artifacts
typechain-types

.DS_Store
Thumbs.db

.vscode/*
!.vscode/extensions.json

scripts/set-base-sepolia-env.ps1

contracts/scripts/synora-constructor-args.ts
